* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background: linear-gradient(90deg, #4b6cb7, #182848);
  box-sizing: border-box;
}

/* --- Icons --- */
.icon_1,
.icon_2,
.icon_3 {
  position: fixed;
  background: #4b6bb76c;
  width: 4em;
  height: 4em;
  border-radius: 2em;
  transition: 0.2s;
  color: #ffffff;
  box-shadow: 5px 1px 20px black;
  cursor: pointer;
  z-index: 3;
  right: 3%;
}

.icon_1:hover,
.icon_2:hover,
.icon_3:hover {
  background: #ffffff;
  color: #182848;
  transform: translateY(3px);
}

.icon_1 i,
.icon_2 i,
.icon_3 i {
  font-size: 2em;
  margin: 50% 50%;
  transform: translate(-50%, -50%);
}

.icon_1 {
  top: 30px;
}

.icon_2 {
  top: 114px;
}
.icon_3 {
  top: 198px;
}
/* xxx Icons xxx */

/* --- Pop up windows --- */

.hidden {
  display: none;
}

.filter_window,
.entry_window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3em 5em rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding: 5em;
  text-align: center;
  background: #4b6cb7;
}

.filter_window .close,
.entry_window .close {
  background: none;
  border: none;
  position: absolute;
  top: 0.08em;
  right: 0.3em;
  font-size: 3em;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}

.filter_window .close:hover,
.entry_window .close:hover {
  color: #ffffff;
}

.filter_window .filter h2,
.entry_window .entry h2 {
  font-size: 2em;
  color: #ffffff;
  margin-bottom: 1em;
}

.filter_window .filter label,
.entry_window .entry label {
  color: #ffffff;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.filter_window .filter .sub,
.entry_window .entry .sub {
  margin: auto;
  padding: 1em;
  margin-top: 2em;
  width: 75%;
}

.filter_window .filter select,
.filter_window .filter option,
.filter_window .filter .sub,
.ionizer_id,
#id_filter,
.entry_window .entry select,
.entry_window .entry option,
.entry_window .entry .sub {
  outline: none;
  background: #182848;
  color: #ffffff;
  padding: 0.5em 0.5em;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  text-align: center;
}

textarea {
  outline: none;
  background: #182848;
  color: #ffffff;
  padding: 0.5em 0.5em;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  text-align: center;
  resize: none;
  height: 80px;
}

.filter_window .filter select:hover,
.filter_window .filter option:hover,
.filter_window .filter .sub:hover,
.ionizer_id:hover,
#id_filter:hover,
.entry_window .entry select:hover,
.entry_window .entry option:hover,
.entry_window .entry .sub:hover {
  background: #ffffff;
  color: #182848;
}

.filter_form,
.entry_form {
  color: #fff;
}

.filter_form .option,
.entry_form .option {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
}
/* xxx Pop up windows xxx */

/* Window blur */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
/* xxx Filter window xxx */

/* --- Main table --- */
.main {
  width: 70%;
  margin: 30px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 20px black;
}
.main h1 {
  font-size: 1.3em;
}
.main table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.main table caption {
  border-bottom: 1px solid #4b6cb7;
}
.main table caption,
.main table th {
  background: #ffffff;
  color: #4b6cb7;
  padding: 20px;
  font-size: 1.2em;
}

.main table td {
  padding: 10px;
  color: #ffffff;
  transition: 0.4s;
  font-size: 1.1em;
}
.main table td:hover {
  background: #ffffff;
  color: #4b6cb7;
  cursor: pointer;
}
.main table .second {
  background: #4b6bb76c;
}

/* --- History table --- */
.history_table caption,
.history_table th {
  background: #4b6cb7;
  color: #ffffff;
  padding: 20px;
}

.history tr {
  background: #fff;
  color: #4b6cb7;
}

.history caption {
  font-size: 1.5em;
  font-weight: bold;
}

.history th,
.history td {
  font-size: 1.2em;
}

.history {
  position: fixed;
  width: 80%;
  box-shadow: 5px 1px 20px rgb(255, 255, 255);
  z-index: 10;
  width: 70%;
  border-radius: 10px;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #fff;
}

.history_table {
  width: 100%;
  border-collapse: collapse;
}

.history th {
  border: 1px solid #fff;
}

.history th:last-child,
.history td:last-child {
  border-right: none;
}

.history th:first-child,
.history td:first-child {
  border-left: none;
}

.history td {
  border-right: 1px solid rgb(255, 255, 255);
  text-align: center;
  padding: 2px;
  border: 2px solid white;
}

/* xxx History table xxx */

/* xxx Main table xxx */

@media (max-width: 800px) {
  * {
    font-size: 14px;
  }

  .main {
    width: 100%;
    margin: auto;
    border-radius: 0px;
  }

  .filter_window {
    padding: 5em;
  }

  .entry_window {
    padding: 2em 4em;
  }

  .filter_form .option,
  .entry_form .option {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
  }

  textarea {
    height: 4em;
  }

  .icon_1,
  .icon_2 {
    top: 10px;
    font-size: 0.8em;
    background: #182848;
    box-shadow: none;
  }

  .icon_1 {
    right: 20px;
  }

  .icon_2 {
    left: 20px;
  }

  .main table caption,
  .main table .thead {
    margin-top: -136px;
    position: fixed;
    padding: 20px 0;
  }

  .main table caption {
    width: 100%;
  }

  .main table .thead {
    margin-top: -78px;
    width: 100%;
    padding: 0;
    display: flex;
  }

  .main table .thead th {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main .rowsphp {
    margin-top: 136px;
  }

  .main .rowsphp .tr {
    width: 100%;
  }
  .main {
    box-shadow: none;
  }
}
